


<!DOCTYPE html>

<html>
<head>
    <title>Real Estate - Home</title>
    <link href="~/StyleSheets/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/StyleSheets/BaseStyle.css" rel="stylesheet" />
    <link href="~/StyleSheets/LayoutStyle.css" rel="stylesheet" />
</head>
<body>
    
    <header>
        <div class="Wrapper"> Header Section</div>
    </header>
    
    <menu>HI thier</menu>

    <div class="Wrapper">
        <section>Section Section</section>
    </div>


    <footer>
        <div class="Wrapper">Footer Section</div>
    </footer>
    
    <script src="~/Scripts/jquery-ui.min.js"></script>
</body>
</html>
